body {
	font-family: Roboto, Arial, sans-serif;
	background-color: #fafafa;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column; /* Changed from wrap to column */
	align-items: center;
	justify-content: center;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.timer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 120px;
	margin: 20px;
	cursor: pointer;
}

.time {
	font-size: 20px;
	width: 100px;
	height: 100px;
	background-color: #f94144; /* Red */
	color: #fff; /* White text */
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease, background-color 0.3s ease; /* Keep the existing transition for background-color */
}

.time:hover {
	transform: scale(1.1); /* Increase the size of the timer on hover */
}

.title,
.newTitle {
	text-align: center;
	margin-top: 10px;
	font-size: 18px; /* Increase font size */
	color: #414141; /* Darken text color for better contrast */
	cursor: pointer;
	transition: color 0.3s ease;
	font-family: "Roboto", Arial, sans-serif; /* Change the font */
	text-transform: uppercase;
	letter-spacing: 1px;
}

.title:hover {
	color: #777; /* Change color on hover */
}

.newTimer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 120px;
	margin: 20px;
	cursor: pointer;
}

.addTimer {
	font-size: 50px;
	width: 100px;
	height: 100px;
	background-color: #f3722c; /* Orange */
	color: #333;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.addTimer:hover {
	transform: scale(1.1);
	background-color: #f8961e; /* Darker Orange */
}

.timer {
	position: relative;
}

.delete {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background-color: #ff3d3d; /* Bright Red */
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	cursor: pointer;
	margin: 10px;
	box-sizing: content-box;
	transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for transform */
}

.delete:hover {
	background-color: #d32f2f; /* Darker Red */
	transform: scale(1.1); /* Make the button slightly larger when hovered */
}

.uuid-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

#uuid-form {
	display: flex;
	flex-direction: column; /* stack elements vertically on smaller screens */
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#uuid-input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px; /* stack elements vertically */
	width: 100%; /* full width on smaller screens */
	box-sizing: border-box; /* include padding and border in element's total width */
}

#submit-button {
	background: #0d47a1; /* Dark Blue */
	color: white;
	padding: 12px 24px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	box-sizing: border-box;
	font-size: 1rem; /* Adjust font size */
	font-weight: 500; /* Make the text a bit bolder */
	transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for hover effects */
	box-shadow: 0 2px 10px -2px rgba(13, 71, 161, 0.2); /* Adds a soft shadow */
}

#submit-button:hover {
	background: #1976d2; /* Lighter Blue on hover */
	transform: scale(1.02); /* Make the button slightly larger when hovered */
}

#submit-button:active {
	background: #1565c0; /* Even lighter blue when clicked */
	transform: scale(1); /* Return to normal size when clicked */
}

#uuid-display {
	font-size: 1rem; /* use rem for responsive text sizing */
	margin-bottom: 20px;
	text-align: center; /* center the text */
}

#toggle-uuid {
	position: fixed;
	right: 20px;
	bottom: 20px;
	border: none;
	background-color: #4caf50;
	color: white;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	cursor: pointer;
	z-index: 1000;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
}

#toggle-uuid:hover {
	background-color: #45a049;
}

.hidden {
	display: none;
}
