body {
	font-family: Roboto, Arial, sans-serif;
	background-color: #fafafa;
	color: #333;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Hide horizontal scrollbar */
	user-select: none; /* Prevent text from being selectable */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	width: 80%;
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

.content-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

ul#timer-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

li {
	box-sizing: border-box;
	margin: 20px;
}

.timer,
.newTimer {
	width: 120px;
	cursor: pointer;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.time,
.addTimer {
	font-size: 20px;
	width: 100px;
	height: 100px;
	background-color: #f94144;
	color: #fff;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.time:hover,
.addTimer:hover {
	transform: scale(1.1);
}

.title,
.newTitle {
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	color: #414141;
	cursor: pointer;
	transition: color 0.3s ease;
	font-family: "Roboto", Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-break: break-word;
	width: 100%;
}

.title:hover {
	color: #777;
}

.addTimer {
	font-size: 50px;
	background-color: #f3722c;
	color: #333;
}

.addTimer:hover {
	background-color: #f8961e;
}

.delete {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background-color: #ff3d3d;
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	cursor: pointer;
	margin: 10px;
	box-sizing: content-box;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete:hover {
	background-color: #d32f2f;
	transform: scale(1.1);
}

#uuid-container {
	grid-column: span 5;
	width: 80%;
}

#uuid #uuid-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#uuid-input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}

#submit-button {
	background: #0d47a1;
	color: white;
	padding: 12px 24px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	box-sizing: border-box;
	font-size: 1rem;
	font-weight: 500;
	transition: background-color 0.3s ease, transform 0.3s ease;
	box-shadow: 0 2px 10px -2px rgba(13, 71, 161, 0.2);
}

#submit-button:hover {
	background: #1976d2;
	transform: scale(1.02);
}

#submit-button:active {
	background: #1565c0;
	transform: scale(1);
}

#uuid-display {
	font-size: 1rem;
	margin-bottom: 20px;
	text-align: center;
}

#toggle-uuid {
	position: fixed;
	right: 20px;
	bottom: 20px;
	border: none;
	background-color: #4caf50;
	color: white;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	cursor: pointer;
	z-index: 1000;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

#toggle-uuid:hover {
	background-color: #45a049;
}

.hidden {
	display: none;
}
